<!-- Post preview-->
<%= render partial: 'front/posts/post', collection: posts, as: :post %>
<div class="<%= 'btn-toolbar ' if newer_than%>justify-content-between">
  <!-- Pager-->
  <%- if newer_than -%>
  <div class="d-flex justify-content-start mb-4">
    <%= link_to(posts_path(newer_than: newer_than.to_s), class: 'btn btn-primary text-uppercase') do %>
      &laquo; Newer Posts
    <% end %>
  </div>
  <% end %>

  <%- if older_than -%>
  <div class="d-flex justify-content-end mb-4">
    <%= link_to(posts_path(older_than: older_than.to_s), class: 'btn btn-primary text-uppercase') do %>
      Older Posts &raquo;
    <% end %>
  </div>
  <%- end -%>
</div>
