<!-- Post preview-->
<%= render partial: 'front/posts/post', collection: posts, as: :post %>
<div class="<%= 'btn-toolbar ' if newer_than%>justify-content-between">
  <!-- Pager-->
  <%- if newer_than -%>
  <div class="d-flex justify-content-start mb-4">
    <%= link_to(posts_path(page: newer_than), class: 'btn btn-primary text-uppercase') do %>
      &laquo; Newer Posts
    <% end %>
  </div>
  <% end %>

  <%- if older_than -%>
  <div class="d-flex justify-content-end mb-4">
    <%= link_to(posts_path(page: older_than), class: 'btn btn-primary text-uppercase') do %>
      Older Posts &raquo;
    <% end %>
  </div>
  <%- end -%>
</div>
