<% content_for :model_title, @post.title %>
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item">
    <%= link_to('Posts', admin_posts_path) %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to(@post.title, admin_post_path(@post)) %>
  </li>
  <li class="breadcrumb-item active">Edit</li>
<% end %>
<%= form_with model: [:admin, @post], method: :put do |form| %>
  <%= render partial: 'admin/posts/form', locals: { form: form } %>
<% end %>
